
*{
    font-family: "Nunito", sans-serif;
    font-size: 400;
}


.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    width: 32rem;
    height: 20rem;
    background-color: skyblue;
    border-radius: 0.6rem;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #222,-0.1rem 0 0.1rem #222;
    transition: all 0.3s;
}

.card:hover{
    box-shadow: 0.2rem 0.2rem 0.2rem #222,-0.2rem 0 0.2rem #222;
}

.card-title{
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}

.form-feild{
    margin-bottom: 1rem;
}

 input{
    border: none;
    border: 0.1rem solid;
    border-radius: 0.6rem;
    padding: 0.2rem;
    background-color: skyblue;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    width: 50%;
}

.button{
    display: flex;
    justify-content: end;
    margin: 0 0.8rem 0 1rem;
}

.btn{
    border: none;
    border: 0.1rem solid;
    border-radius: 0.6rem;
    padding: 0.2rem;
    background-color: skyblue;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s;
}
.btn:hover{
    background-color: white;
}

p{
    text-align: center;
}

.large-text{
    font-size: 1.5rem;
    color: bisque;
}